<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true">
    <testsuites>
        <testsuite name="ToDo Test Suite">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
